#homeSection {
    background-image: none;
    background-color: #1e5374;

    #card_row_one{
        padding-top: 25px;

    }

    #card_row_one, #card_row_two{
        .col-4{
            height: 350px;
            padding: 20px 20px;
        }
    }


    .location-card{
        border: 1px solid white;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        /* background image styling */
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        p{
            color: black;
            font-weight: bold;
            text-shadow: 1px 1px 1px rgb(102, 100, 100);
            padding-top: 10px;
        }
    }
    
    .location-card:hover {
        transform: scale(1.1);
    }
    
    #ny_button {
        background-image: url("../static/ny.jpg");
    }
    
    #paris_button {
        background-image: url("../static/paris.jpg");
    }
    
    #london_button {
        background-image: url("../static/london.jpg");
    }
    
    #rome_button {
        background-image: url("../static/rome.jpg");
    }
    
    #lisbon_button {
        background-image: url("../static/lisbon.jpg");
    }
    
    #istanbul_button {
        background-image: url("../static/istanbul.jpg");
    }

}